@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


/* A prendre */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
/* A prendre */

html{
    font-family: 'Poppins', sans-serif;
}

body{
    text-align: center;
}

h2{
    font-weight: normal;
    font-size:30px;
    color:#3b7cf5;
}
#FormSize{
    padding: 40px 50px;
    /* A changer */
    margin: 40px auto;
    /* A changer */
    width:500px;
    height:500px;
    box-sizing: border-box;
    box-shadow: 3px 4px 4px rgba(0,0,0,0.25)    ;
    border: solid #3b7cf5 1.5px;
    border-radius:5px;
}

#connform{
    height: 80%;
}

#connform form{
    height: 100%;
}

#identifiant, #motdepasse{
    font-size: 16px;
    padding: 3% 7%;
    border-radius: 35px;
    width:80%;
    /* A ajouter */
    margin-top: 50px;
    /* A ajouter */
}

#ResterCo{
    text-align: left;
    padding-top: 5%;
    color:#3b7cf5;
    display:block;
    margin-left: 40px;
}
#SeCo:hover{
    color:#3b7cf5;
    background: white;
}

#SeCo{
    border :1px solid #3b7cf5;
    font-size: 20px;
    color:white;
    background-color: #3b7cf5;
    border-radius: 35px;
    margin-top: 7%;
    padding: 3.5%;
    width:80%;
    overflow: hidden ;
}


#mdpforg{
    margin-top: 3%;
    display: block;
    color:#3b7cf5;
}

#insc{
    margin-top: 15px;
    display: block;
    color:#3b7cf5;
}

#pasInscrit{
    margin-top: 40px;
}

@media only screen and (max-width: 550px) {

	#FormSize{
        width:300px;
        height: 500px;
        margin: 10px auto;
    }

    #SeCo{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #ResterCo{
        margin-left: 20px;
    }

}
footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}